.StreamPageMainDiv{
  background-color: black;
  position: absolute;
  color: rgb(249, 240, 255);
  width: 100%;
  height: 100%;
  overflow: auto;
}

::-webkit-scrollbar{

  color: #6209b6;
}
::-webkit-scrollbar-button{
  color: #6209b6;
}

::-webkit-scrollbar-thumb{
  color: #6209b6;
}

.Dashboard{
  background-image: url("asset/monitor.png");
  background-position: 0%;
  background-repeat: no-repeat ;
  background-position: center;
  width: 100vw;
  height: 550px;
  text-align: center;
}

.MonitorOuterDiv{
  margin-top: 5vh;
  border: solid 2px white;
  border-radius: 10px;
  width: 50vw;
  height: 50vh;
}
.MonitorInnerDiv{
  border: solid 2px white;
  border-radius: 10px;
  margin-top: 2px;
  padding:2%;
  width: 96%;
  height: 97%;
  background-color: #272727;
  overflow: hidden;
  overflow-y: auto;
}
.MonitorBaseDiv{
  width: 0;
  height: 20vh;
  border-top: 0;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.MonitorOuterDiv2{
  margin-top: 5vh;
  border: solid 2px white;
  border-radius: 10px;
  width: 30vw;
  height: 30vh;
}
.MonitorInnerDiv2{
  border: solid 2px white;
  border-radius: 10px;
  margin-top: 2px;
  padding:2%;
  width: 99%;
  height: 98%;
  background-color: #4e0394;
}
.MonitorBaseDiv2{
  border:solid 2px white;
  width: 15vw;
  height: 20vh;
  border-top: 0;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.DeviceHomeButton{
  border-radius: 20px;
  width: 5%;
  height: 3%;
  border: solid 2px white;
}
.DeviceHomeButtonInner{
  border-radius: 20px;
  width: 95%;
  height: 95%;
  border: solid 2px white;
}
.DeviceCard{
  border-radius: 5px;
  padding: 5%;
  overflow: hidden;
  overflow-y: hidden;
  margin: 2vw;
}

@media only screen and (min-width: 992px) {
  .DeviceCard{
  border-radius: 5px;
 margin: 1vw;
}
  .MonitorBaseDiv{
    width: 5vw;
    height: 12vh;
    border: solid 2px white;
  }
  .MonitorOuterDiv{
    height: 70vh;
    width: 80vw;
  }
  .MonitorInnerDiv{
    width: 99%;
  }
  .DeviceHomeButton{
    border-radius: 20px;
    width: 0;
    height: 0;
    border: none;
  }
  .DeviceHomeButtonInner{
    border-radius: 20px;
    width: 0px;
    height: 0px;
    border: none;
  }
}


